
body{
    display: grid;
    grid-template-areas:
    "A A A A"
    "B B B B"
    "D D C C"
    "E E E E"
    "E E E E"


}

header{
    grid-area: A;
    background-color: rgb(211, 247, 217);

}

nav{
    grid-area: B;
    background-color: rgb(24, 164, 192);

}
main{
    grid-area: C;
    background-color: rgb(243, 223, 235);
}
aside{
    grid-area: D;
    background-color: rgb(148, 213, 243);
}
footer{
    grid-area: E;
    background-color: rgb(233, 183, 183);
}
.centrado{
    text-align: center;
}
/*Menu*/




.menu-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu-horizontal a{
        background-color: rgb(2, 28, 58);
        color: aliceblue;
        text-decoration: none;
        padding: 10px 40px;
        margin: 4px;

}

.menu-aside{
    list-style: none;
}
.menu-aside a{
    background-color: rgb(2, 28, 58);
    color: aliceblue;
    text-decoration: none;
    padding: 10px 40px;
    margin: 4px;
    display: block;
}
